body
{ 
    height: 100vh;
    margin: 0px;
    color: #fff;
    background: transparent;
}
div
{
    padding-left: 25px;
    padding-right:25px;
    position: center;
    height: 100%;
}
#underConstruction img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#rickRolled
{
    display: block;
    margin: 0 auto;
}
h3
{
    text-align: center;
}

/*scrollbar*/
::-webkit-scrollbar
{ 
    width: 5px;
}
::-webkit-scrollbar-track
{
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}  
::-webkit-scrollbar-thumb
{
    background: #888;
    border-radius: 15px;
} 
::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}

a
{
    color:#02ff02
}
a:visited
{
    color: #02ff02;
}
a:hover
{
    color: #e1e2e4;
}